<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342742479309-mnhcstpp8ih29gt01k647vgbo867jpn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342742479309-mnhcstpp8ih29gt01k647vgbo867jpn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342742479309-2214j4ltu12635lcmebu28e9aitm38vk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw00mwluz9LA6MQ8o3zlPvKSsHpdIEpdU</string>
	<key>GCM_SENDER_ID</key>
	<string>342742479309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.thoson.flutterBase</string>
	<key>PROJECT_ID</key>
	<string>chat-flutter-firebase-57bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-flutter-firebase-57bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342742479309:ios:386d4219630c42d3fa5484</string>
	<key>DATABASE_URL</key>
	<string>https://chat-flutter-firebase-57bfc-default-rtdb.firebaseio.com</string>
</dict>
</plist>